$primary: #050e15;
$lightGray: #d4d1cb;
$yellow: #fdd31c;
$purple: #6c14c8;
$bgPurple: #320051;
$blue: #1d8cfe;
$bgBlue: #002c5a;
$gold: #e9bd54;
$bgGold: #453409;
$middleGreen: #63f87c;
$red: #e71d1d;
